@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
}

main {
    width: 23.44rem;
    height: 44.31rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
}

main .container {
    background-color: var(--very-pale-blue);
    box-shadow: 0 40px 15px rgba(114, 128, 167, 0.1);
    width: 90%;
    height: 80%;
    border-radius: 20px;
}

main .container .image #illustration {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main .container .description {
    text-align: center;
    margin: 1.5rem 2rem 2rem;
}

main .container .description h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-blue);
    text-transform: capitalize;
} 

main .container .description #text {
    color: var(--desaturated-blue);
    margin-top: 1.125rem;
    line-height: 150%;
}

main .container .plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
}

main .container .plan a {
    font-weight: 900;
    font-size: 0.875rem;
    color: var(--bright-blue);
    align-self: center;
}

main .container .plan a:hover {
    color: hsla(245, 75%, 52%, 0.6);
}

main .container .plan #icon {
    margin-left: 1rem;
}

main .container .plan .content {
    margin-left: -2rem;
}

main .container .plan .content h2 {
    font-weight: 900;
}

main .container .plan .content p {
    color: var(--desaturated-blue);
}

main .container .plan .content h2,
main .container .plan .content p {
    font-size: 0.93rem;
}

main .container .btn {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

main .container .btn button {
    font-family: 'Red Hat Display', sans-serif;
    border: none;
    width: 100%;
    height: 3rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    
}

main .container .btn #payment {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    margin-bottom: 1rem;
    box-shadow: 0 20px 5px -4px  hsla(245, 75%, 52%, 0.1);
}

main .container .btn #payment:hover {
    background-color: hsla(245, 75%, 52%, 0.6);
}

main .container .btn #cancel {
    color: var(--desaturated-blue);
    font-weight: 900;
}

main .container .btn #cancel:hover {
    color: #171717;
}

@media only screen and (min-width: 1440px) {

    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: var(--pale-blue);
    }


    main {
        background: none;
        width: 27.5rem;
        height: 55rem;
    }

    main .container {
        width: 100%;
    }

    main .container .description {
        margin-top: 2.5rem;
        padding: 0 2rem;
    }

    main .container .description h1 {
        font-size: 1.75rem;
    }

    main .container .plan {
        margin-top: 3.125rem;
    }

    main .container .plan a {
        position: relative;
        right: 1.25rem;
    }

    main .container .plan .content {
        margin-left: -5.5rem;
    }

    main .container .plan .content h2,
    main .container .plan .content p {
        font-size: 1rem;
    }

    main .container .btn {
        margin-top: 4rem;
    }
}